body {
    background-image: url('https://images.unsplash.com/photo-1676745737239-8c60b47cb794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(149, 112, 153);
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 5%;
}

.container{

    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    padding: 10px;
    margin: 2% auto 0;
    object-position: center;
}

.input {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 98%;
    border: 1px solid #999;
}

#signup, #login {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 98%;
    border: 1px solid #999;
    color: white;
    background-color: rgb(64, 255, 0);
}

#p1, #q {
    color: red;
    font-size: larger;
    background-color: lightskyblue;
    font-weight: bold;
  
}

a {
    color: green;
    background-color: azure;

}